/*Defaut values*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*For config popup working*/
[hidden] {
    display: none !important;
}

/*Page dark/light mode*/
:root {
    --bg: #e8f0f7;
    --text: #333333;
    --selection: #eee;
    --button-bg: #e0e0e0;
    --nav-color: #141414;
    --nav-font-color: #fff;
    --nav-hover-color: #0099fa;
    --nav-logo-color: #fff;
    --selection-color: #608BC1;
    --font-size: 23px;
    --font-family: "Roboto";
    --icon-color: 0%;
    --range-progress: 50%;
}

.dark {
    --bg: #1a1a1a;
    --text: #ffffff;
    --selection: #333;
    --button-bg: #333333;
    --nav-color: #03346E;
    --nav-font-color: #fff;
    --nav-hover-color: #6EACDA;
    --nav-logo-color: #fff;
    --selection-color: #E2E2B6;
    --icon-color: 100%;
}

input {
    cursor: pointer;
}

input[type="radio"] {
    appearance: none;
    height: 16px;
    width: 16px;
    background: #fff;
    border-radius: 50%;
    display: grid;
    place-content: center;
}

input[type="radio"]:hover {
    border: 1px solid var(--nav-hover-color);
}

input[type="radio"]::before {
    content:"";
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: var(--nav-hover-color);
    transform: scale(0);
    transition: 0.2s linear;
}

input[type="radio"]:checked {
    border: 2px solid var(--nav-hover-color);
    background: var(--nav-color);
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

input[type="range"] {
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    background: linear-gradient(to right, var(--nav-hover-color) var(--range-progress), #fff var(--range-progress));
    height: 8px;
    border-radius: 20px;
    transition: 0.2s linear;
}

input[type="range"]:focus {
    outline-offset: 3px;
}

input[type="range"]:hover {
    box-shadow: inset 0px 0px 49px 4px rgba(255,255,255,0.2);
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background: var(--nav-hover-color);
    border-radius: 50%;
    box-shadow: 0px 0px 38px 6px rgba(0,0,0,0.75);
    margin-top: -1px;
}

input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background: var(--nav-hover-color);
    border-radius: 50%;
    box-shadow: 0px 0px 38px 6px rgba(0,0,0,0.58);
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: var(--font-family), sans-serif;
    font-size: var(--font-size);
    transition: all 0.3s ease;
    padding-top: 100px;
}

body::selection {
    background-color: var(--selection-color);
    color: var(--selection);
}

a {
    text-decoration: none;
    cursor: pointer;
}

input[type="range"],
input[type="radio"] {
    accent-color: var(--nav-hover-color);
}

/*Navbar configuration*/
.header {
    background-color: var(--nav-color);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    padding: 0 30px;
}

.logo {
    color: var(--nav-logo-color);
    font-size: 30px;
    font-weight: 700;
    font-family: Roboto, sans-serif;
    transition: all 0.2s;
}

.logo:hover {
    color: #ddd
}

.nav__list {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    column-gap: 20px;
    font-family: Roboto, sans-serif;
}

.nav__item {
    height: 18px;
    display: flex;
    align-items: center;
}

.nav__link {
    color: var(--nav-font-color);
    opacity: 0.8;
    font-size: 15px;
    transition: all 0.3s;
    position: relative;
}

.nav__link:hover,
.nav__link:focus {
    opacity: 1;
    font-size: 17px;
}

.nav__link::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: var(--nav-hover-color);
    position: absolute;
    left: 0;
    bottom: -8px;
    opacity: 0;
    transition: all 0.3s;
    pointer-events: none;
}

.nav__link:hover::after {
    opacity: 1;
}

.config-btn {
    border: 0;
    background-color: var(--nav-color);
    cursor: pointer;
}

.cog-img {
    filter: invert(100%);
    transition: all 0.2s;
}

.cog-img:hover {
    filter: invert(80%);
}

.nav__config {
    position: relative;
    display: flex;
    align-items: center;
}

/*Config popup configuration*/
.config {
    background-color: var(--nav-color);
    color: var(--nav-font-color);
    font-size: 18px;
    font-family: Roboto, sans-serif;
    border-radius: 30px;
    min-width: 200px;
    width: max-content;
    min-height: 200px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease-out;
    box-shadow: -20px 20px 30px -6px rgba(0,0,0,0.5);
}

.config__form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 20px;
    padding: 40px;
}

.theme-btn {
    font-size: 18px;
    padding: 8px;
    background-color: var(--nav-hover-color);
    color: #fff;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    transition: all 0.2s;
}

.theme-btn:hover {
    transform: scale(1.03);
}

.theme-btn:active {
    transform: scale(0.95);
}

.font-opts {
    display: flex;
    flex-direction: column;
}

.radio {
    display: flex;
    align-items: center;
    gap: 7px;
}


/*Defaut configuration for the pages content*/
.page {
    margin: 20px auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
}

.page__title {
    font-size: 60px;
    color: var(--nav-hover-color);
}

.page__cover {
    width: max-content;
    max-height: 400px;
    max-width: 100%;
}

.page__content {
    width: 100%;
    margin: 10px 0;
}

/*About Me page*/

.paragraph {
    text-align: justify;
}

/*Technologies page*/
.list__columns {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*Technologies and Contact page*/
.list__item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    flex-wrap: wrap;
}

/*Contact page*/
.link {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    transition: all 0.2s ease;
}

.link:link {
    color: var(--nav-hover-color);
}

.link:visited {
    color: var(--nav-hover-color);
}

.link:hover {
    opacity: 0.8;
}

.link:active {
    transform: scale(0.98);
}

.link__icon {
    filter: invert(var(--icon-color));
    transition: all 0.3s;
}

.link__label {
    color: var(--text);
}

.link__ref:hover {
    border-bottom: 1px solid var(--nav-hover-color);
}

/*If using a cellphone or tablet*/
@media (max-width: 750px) {
    body {
        padding: 170px 0;
        --font-size: 18px;
    }

    .header__content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        row-gap: 10px;
    }

    .nav__list {
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 15px;
        padding: 0 10px;
    }

    .page {
        width: 90%;
    }

    .page__title {
        font-size: 40px;
    }

    .list__columns {
        display: block;
    }
}
